@import './base.css';

.home{
  display: flex;
  justify-content: center;
}
.main{
  border-radius: 10px;
  width: 1080px;
  height: 720px;
  background: #ffffff;
  display: flex;
  box-shadow: 5px 5px 10px 10px #aaaaaa;
}
.nav{
  flex: 1;
  border-right: 1px solid #aaaaaa;
  background-color: rgb(247,247,247);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.content{
  flex: 18;
}
.head-icon {
  border-radius: 5px;
  margin-top: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.head-icon:hover {
  background-color: #aaaaaa;
}

.userlist{
  display: flex;
  height: 100%;
  width: 100%;
}
.userlist-left{
  padding-top: 10px;
  margin-left: 10px;
  overflow-y: scroll;
  flex: 1;
  border-right: 1px solid #aaaaaa;
}
.msg{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.msg:hover{
  background-color: #7dddd7;
}
.msg-img{
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.msg-title{
  margin-left: 5px;
}
.userlist-right{
  background-color: #f1f1f1;
  flex: 4;
}
.chats{
  overflow-y: scroll;
  height: 610px;
}
.list-img{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.chat-left{
  display: flex;
  flex-direction: row;
}
.chat-right{
  display: flex;
  flex-direction: row-reverse;
}
.chat-title{
  height: 50px;
  text-align: center;
}
.left-msg{
  margin-left: 5px;
  background-color: white;
  border-radius: 5px;
  max-width: 360px;
  word-wrap:break-word;
}
.right-msg{
  margin-right: 5px;
  background-color: #88ff88;
  border-radius: 6px;
  max-width: 320px;
  word-wrap:break-word;
}
.chat-boom{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #aaaaaa;
}
input{
  width: 500px;
  height: 25px;
  font-size: 18px;
  padding: 5px 10px;
}
.input-btn{
  height: 38px;
  margin-right: 15px;
}
.new-list{
  overflow-y: scroll;
  height: 320px;
}
video{
  width: 300px;
  height: 300px;
}