<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 通用 -->
    <link rel="stylesheet" href="/view/css/common.css">
    <script type="text/javascript" src="/view/js/nav.js"></script>
   
    

    <title>咸鱼客栈</title>
</head>
    <body>
        <!-- 导航栏 -->
        <ul id="nav">
            <li>
                <h2>咸鱼客栈</h2>
            </li>
        </ul>
        <!-- 内容展示 -->
        <div id="content">
            <ul>
                <!-- <li>
                    <img src="/static/img/0.jpg">
                    <p>hello 0</p>
                </li>
                <li>
                    <img src="/static/img/1.jpg">
                    <p>hello 2</p>
                </li> -->
            </ul>
        </div>
    </body>
</html>